#gameboard {
  border: 5px solid black;
  height: 500px;
  margin: auto;
  width: 1000px;
  padding: 10px;
  position:relative;
  overflow:hidden;
}


.location {
  position: absolute;
  background-color: pink;
}

h1 {
  text-align: center;
}

#inputForm {
  height: 50px;
  width: 200px;
  margin-left: 600px;
  margin-top: 10px;
  margin-bottom: 100px;

}

label {
  display: block;
  margin-left: 600px;
  margin-top: 20px;

}

